.Side-bar
  .User-name
    .Top-items
      .Top-items__name
        masa
      .Top-items__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'Top-items__icons, Top-items__icons--white')
        = link_to "#" do
          = icon('fa', 'cog', class: 'Top-items__icons, Top-items__icons--white')
  .Group-list
    .Group-box
      .Group-box__name
        %b techcamp
      .Group-box__message
        %b まだメッセージがありません